.container{
max-width: 550px;
min-height: 550px;
padding: 6% 10%;
margin: 5% auto;
}

.dirBtns{
  padding-top: 5%;
}

.dirBtns Button{

  background-color: #339933;
  border: #339933;
}
.dirBtns Button:hover{
  background-color: #40bf40;
  border: #40bf40;
}

.form{
  min-height: 250px;
}

.subHeading{
  padding-bottom: 10%;
}

.form-check{
  margin: 20px 0;
}
.sendBtn{
  float:right;
}

@media(max-width: 590px) {
  .container{
      width: 100%;
  }
}