.benefitsSection{
    text-align: center; 
    width: 90%;
    border: 1px solid red;
    margin: auto;
}
.subheading{
    padding: 5%;
    font-size: 2vw;
}
.benefitsImage{
    width: 25%;
}
.col-lg-4{
    margin: 2% 0;
}
.col-lg-4 p{
    width: 90%;
    margin:auto;
}