
.container{
    display: flex;
    text-align: center; 
    width: 80%;
    margin: 3% auto;
}
.subHeading{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    padding-top: 5%;
    padding-bottom: 1%;
    font-size: 2rem;
}
.item{
    margin: 1%; 
    width: 30%;
    padding: 2%;
}
.item img{
    width: 20%;
}

.item p{
    margin:auto;
    font-size: 1rem;
}

@media(max-width: 770px){
    .item{
        margin: 5% 0;
        width: 100%;
        text-align: center;
    }
    .item p{
        width: 70%;
        margin:auto;
    }
    .item img{
        width: 4rem;
    }
}
@media(max-width: 450px){
    .container{
        width: 100%;
    }
    .item p{
        width: 90%;
    }

}