.container{
    padding: 4% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
}
.left-col, .right-col{
    width: 40%;
}
.alert{
    width: 80%;
    float: right;
}
.button{
    background-color: transparent;
    border: none;
    border-radius: 100px;
    float: right;
}
.button img{
    width: 40px;
    height: 40px;
}

.info p{
    margin-bottom: 0;
    padding: 0;
}

.map{
    padding-top: 2%;
}

@media(max-width: 700px){
    .container{
        margin-top: 10%;
        flex-direction: column-reverse;
    }
    .left-col, .right-col{
        width: 100%;
    }
}

