
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4% 0;
}
.col-left, .col-right{
    width: 40%;
}
.col-left img{

    width: 100%;
}

@media(max-width: 992px){
    .container{
        margin-top: 10%;
        flex-direction: column-reverse;
        height: 100%;
        margin-top: 30px;
    }
    .col-left, .col-right{
        width: 100%;
    }
    .col-left img{
        display: none;
    }
    .col-right{
        padding: 5% 10%;

    }
}