
.container{
    padding: 5% 0;
}
.col-left{
    display: flex;
    align-items: center;
}
.col-left img{
    width: 80%;
}

@media(min-width: 1200){
    .col-left{
        display: none;
    }
    .col-right{
        width: 100%;
    }
}