.navbar{
    box-shadow: 1px 1px 1px #d9d9d9;
    background-color: white;
}
.nav-link{
    margin-right: 10px;
    font-size: 1.1vw;
}
.container-fluid{
    padding: 0 2%;
}
.navbar-collapse{
    justify-content: flex-end;

}
.navbar-brand{
    width: 20%;
}
.logo{
    width: 100%;
}

