.col-lg-3{
    text-align: center;
    padding: 5% 0;
}

.service-img{
    width:40%;
    margin:auto;
}

.button{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    margin:auto;
    background-color: white
}
.button a{
    color: #10466a;
}

.col-lg-3:hover{
    background-color: #10466a;
    color: white;
}

.hidden{
    display: none;
}
.block{
    display: block;
}