.card{
    position: relative;
    color: white;
    background-size: cover;
    background-position: bottom;
    padding: 30% 0;
    border: 0;
}
.color-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #404040;
    opacity: 0.5;
}
.card:hover .color-overlay{
    opacity: 0.8;
}

.card h4{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5vw;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -20px;
}
.card Button{
    position: absolute;
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    font-size: 1vw;
}
.contentBox{
    position: relative;
    background-color: antiquewhite;
}

.closeBtn{
    position: absolute;
    top: 1%;
    right: 1%;
    background-color: transparent;
    border: 0;
}