.container{
    width: 100%;
    margin:auto;
    padding: 5% 0;
}
.col{
    position: relative;
    width: 20%;
    background-color: white;
    margin: 5%;
    min-height: 550px;
    box-shadow: 3px 2px 15px #034c7d;   
    border-radius: 10px;
    text-align: center;
}
.card{
    position: relative;
    background-size: cover;
    background-position: bottom;
    padding: 30% 0;
    border: 0;
    border-radius: 10px 10px 0 0;
}
.text{
    padding: 5% 10%;
    position: relative;
}
.text p{
    max-height: 195px;
    overflow: hidden;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 0;
}
.text h4{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
}
.link{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color:#0088cc;
    cursor: pointer;
}
.col .btn{
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    text-align: center;
}
.col .btn Button{
    background-color: #046aaf;
    border: #046aaf;
}
.card .btnCont{
    position: absolute;
    display: block;
    width: 100%;
    bottom: 10%;
    text-align: center;
}
.card Button{
    background-color: #0088cc;
    border: #0088cc;
    font-size: 1rem;
    margin:auto;
}

@media(max-width: 450px){
    .container{
        width: 100%;
    }
    .col{
        width: 100%;
    }
}