/****** GENERAL *****/
.container{
    max-width: 1300PX;
    padding-top: 5%;
    padding-bottom: 5%;
}
.heading{
    margin:auto;
    text-align: center;
    font-size: 3rem;
}

.whatsapp{
    position: fixed;
    z-index: 999;
    bottom: 3%;
    right: 3%;
}
.whatsapp img{
    width: 50px;
}

.bd-img{
    background-image: url("/images/img1.jpg");
    background-position: center;
    background-size: cover;
    padding: 20% 0;
}

.hidden{
    display: none;
}


/*********************************************************/
/*********************** HOME ***************************/
/*******************************************************/

/***** BENEFICIOS *****/
.benefitsSection{
    margin: 0;
    text-align: center; 
}
.benefitsImage{
    width: 25%;
}
.col-lg-4{
    margin: 2% 0;
}
.col-lg-4 p{
    width: 90%;
    margin:auto;
}

/***** SERVICIOS *****/
