.heading{
    margin:auto;
    text-align: center;
    font-size: 3vw;
    font-family: 'Bebas Neue', cursive; 
    color: #10466a;
    padding-bottom: 5%;
}
.section{
    padding: 5% 0;
    margin:auto;
}
.whatsapp{
    position: fixed;
    z-index: 999;
    bottom: 3%;
    right: 4%;
}
.whatsapp img{
    width: 50px;
}

.bd-img{
    position: relative;
    background-image: url("/images/cover1.jpeg");
    background-position: top;
    background-size: cover;
    padding: 25% 0;
    margin-top: 50px;
}
.cover-info{
    position: absolute;
    top: 20%;
    right: 8%;
    width: 35%;
    text-align: center;
    color: white;
}
.cover-info h1{
    font-size: 5vw;
    font-family: 'Bebas Neue', cursive; 
    text-shadow: 1px 1px 2px #595959;
    font-weight: bold;
    margin-bottom: 10%;
}
.cover-info .btn{
    background-color: #17669b;
    border: none;
    font-size: 1.5vw;
}
.cover-info .btn:hover{
    background-color: #1e84c8;
}

.work{
    width: 50%;
}

@media(max-width: 700px){
    .bd-img{
        padding: 35% 0;
    }
    .cover-info{
        width: 50%;
        top: 20%;
        right: 0;
    }
    .cover-info h1{
        font-size: 6vw;
    }
    .cover-info btn{
        width: 40%;
        padding: 1% 0;
        font-size: 3vw;
    }
    .work{
        width: 100%;
    }
}
@media(max-width: 400px){
    .heading{
        font-size:  10vw;
    }
}
