.container{
    width: 70%;
    padding: 3% 0;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
}
.text, .list, .btn{
    width: 70%;
    margin:auto;
}
.text{
    padding: 2% 0;
}

.list{
    display: flex;
    flex-direction: column;
}
.item{
    min-height: 80px;
    position: relative;
    text-align: center;
    border-radius: 5px;
    margin: 1% 0;
}
.hiden{
    display: none;
}
.item:hover{
    background-color: #53c653;
}
.item:hover p{
    color: white;
}
.item:hover .fas{
    color: #10466a;
}
.item p{
    padding: 2% 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    color: #10466a;
}
.listItem{
    width: 100%;
    position: absolute;
    bottom: 5%;
    left: 0;
}
.listItem .fas{
    font-size: 1.5rem;
    color: #339933;
}

.listItem .fas{
    cursor: pointer;
}

.btn{
    background-color: #339933;
    border: #339933;
    margin: 5% auto;
    padding: 1% 0;
}